@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #222831;
    color: #222831;
}

/* NAVBAR */

.navbar-custom {
    font-weight: 550;
    background-color: #FFD369;
}

.navbar-custom .navbar-nav .nav-link {
    color: #393E46;
}

.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
    transition: .2s ease;
    color: #222831;
}

.navbar-custom .navbar-brand{
    margin-right: 1.5rem;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(34, 40, 49)' stroke-miterlimit='10' stroke-width='2.75' d='M4 8h22M4 15h22M4 22h22'/%3e%3c/svg%3e")
}

img.navbar-logo{
    width: 165px;
}

@keyframes logohover{
    from{-webkit-filter: brightness(100%);}
    to{-webkit-filter: brightness(110%);}
}

nav.navbar img.navbar-logo:hover{
    animation-name: logohover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* STYLES GERAIS */

div.space{
    height: 1.5rem;
}

div#container{
    background-color: #EEEEEE;
    width: calc(100% - 2rem);
    margin: 1rem;
    margin-top: 4rem;
    padding: 1rem;
    color: #0C0E11;
}

@keyframes fadeFromBottom{
    from{opacity: 0; -webkit-transform: translateY(100px)}
    to{opacity: 1; -webkit-transform: translateY(0)}
}

.fade-from-bottom{
    animation-name: fadeFromBottom;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    from{opacity: 0}
    to{opacity: 1}
}

.fade-in{
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* PÁG INICIAL */

a.csm-link:link, a.csm-link:visited{
    color: #222831;
    font-weight: 600;
}

/* SOBRE NÓS */

.info-text{
    font-size: 17.5px;
}

/* LOGIN / LOGOUT / SIGN UP */

.login-container{
    background-color: #EEEEEE;
    max-width: 25rem;
    height: 32.5rem;
    padding: 1rem;
}

.btn-login{
    border: 2px solid #222831;
    border-radius: 7.5px;
    background-color: #FFD369;
}

.logout-container{
    background-color: #EEEEEE;
    max-width: 25rem;
    height: 12rem;
    padding: 1rem;
}

.logout-btn{
    border: 2px solid #222831;
    color: #EEEEEE;
}

.signup-container{
    background-color: #EEEEEE;
    max-width: 30rem;
    height: 42.5rem;
    padding: 1rem;
}

/* MÚSICAS */

div.cover-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 0;
    margin: 0;
    -webkit-filter: brightness(100%);
}

div.cover-container:hover img.cover{
    transition: all .2s ease;
    -webkit-filter: brightness(30%);
}

img.cover{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

img.audio-button{
    width: 60px;
    z-index: 5;
}

div.cover-container span.audio-button-span{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

div.cover-container:hover span.audio-button-span{
    transition: all .2s ease;
    opacity: 1;
}

img.audio-button:hover{
    cursor: pointer;
}

input.search-input{
    border: 2px solid #222831;
    border-radius:
    max-width: 52.5rem;
}

/* FOOTER */

.footer-container{

}
